body {
	padding:0px;
	margin:0px;
    font-family:sans-serif;
}
a, a:hover, a:active, a:link, a:visited{
	color:#000000;
	text-decoration:none;
}
/*Section Index Area Start*/
section>.SectionIndexArea {
    margin:6px 0px 50px 0px;
    padding-top:80px;
    text-align:center;
}
#TopButton {
    position:fixed;
    padding:15px;
    right:20px;
    bottom:20px;
    background-color:#CC0000;
    border-radius:40px;
    color:#FFFFFF;
    text-shadow:1px 1px 2px #000000;
    z-index:999;
    opacity:0;
    visibility:hidden;
    cursor:pointer;
}
section>.SectionIndexArea>span {
    display:block;
    letter-spacing:4px;
    line-height:19px;
}
.SectionIndexJP {
    font-size:18px;
}
.SectionIndexEn {
    font-size:10px;
    color:#CC0000;
}
/*Section Index Area End*/
/*Header Area Start*/
header {
	position:fixed;
    top:0px;
	padding:8px 8px 0px 8px;
	margin:0px;
    width:100%;
    height:60px;
    z-index:999;
    border-bottom:1px solid #CC0000;
    background-color:#FFFFFF;
}
.LogoArea {
	position:relative;
	display:inline-block;
}
#LogoImage {
	cursor:pointer;
}
.LangSelectArea {
	display:inline-block;
	padding-left:20px;
	vertical-align:middle;
	font-size:13px;
	font-weight:bold;
}

#LangDivider {
	padding:0px 6px;
	font-size:18px;
	font-weight:200;
}
.LangSelectArea>a {
	text-decoration:none;
}
.LangSelectArea>#jp {
	color:#CC0000;
	text-decoration:underline;
}
.LangSelectArea>#en {
	color:#5D5D5D;
}
#en:hover, #en:active {
	color:#CC0000;
	text-decoration:underline;
}
    /*Navigation Area Start*/
nav {
	position:relative;
	float:right;
    height:45px;
}
#navs {
	text-align:center;
	font-weight:bold;
    padding-left:0px;
}
#navs li {
    float:left;
	display:inline-block;
	width:100px;
}
#navs li .navjp, #navs li .naven {
    display:block;
	font-size:11px;
	color:#CC0000;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
#navs li .navjp {
    padding-top:6px;
	font-size:14px;
    color:#000000;
}
#navs li .naven {
    padding-bottom:8px;
}
#navs li:hover .navjp, #navs li:hover .naven {
    background-color:#CC0000;
    color:#FFFFFF;
}
#navs li:hover .navdropdowncontents{
    height:auto;
    opacity:1;
}
.navdropdowncontents {
    position:relative;
    overflow:hidden;
    height:0px;
    opacity:0;
    float:right;
    z-index:999;
    -webkit-transition: .3s;
    transition: .3s;
    box-shadow:4px 4px 10px 0.1px #000000;
}
.navdropdowncontents .ndonecontents {
    float:left;
    text-align:left;
    padding:8px;
    font-size:14px;
    width:220px;
    background-color:#EAEAEA;
    border:1px solid #5D5D5D;
    border-top:none;
    cursor:pointer;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.navdropdowncontents .firstcontent {
    border:1px solid #5D5D5D;
}
.navdropdowncontents .ndonecontents:hover {
    background-color:#CC0000;
    color:#FFFFFF;
}
    /*Nevigation Area End*/
/*Header Area End*/
/*Black Area for Header*/
.HeaderBlank {
    height:60px;
}
/*Main Area Start*/
.MainArea {
    position:relative;
    overflow:hidden;
}
#MainImg {
    height:auto;
    width:100%;
    min-width:1000px;
    z-index: -1;
}
#BackgroundDotted {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    min-width:769px;
    height:2000px;
    float:left;
 background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC);
}
.SloganArea {
    position:absolute;
    top:219px;
    left:100px;
    color:#FFFFFF;
}
#SloganTitle {
    font-size:68px;
    text-shadow:2px 2px 0px black;
}
#SloganInfo {
    position:relative;
    top:5px;
    font-size:24px;
    text-shadow:2px 2px 0px black;
}
#SloganInfo>p:nth-child(2){
    position:relative;
    top:-24px;
}
.SloganBtn span {
    position:relative;
    display:inline-block;
    width:208px;
    height:47px;
    top:-9px;
    padding:10px 0px;
    margin-right:10px;
    text-align:center;
    color:#FFFFFF;
    font-size:14px;
    border:1.5px solid #FFFFFF;
    border-radius:5px;
    text-shadow:2px 2px 0px black;
    cursor:pointer;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}
.SloganBtn span:hover {
    background-color:rgba(189,189,189,0.6);
}
#ButtonDiv {
    display:block;
    margin-top:10px;
}
.SloganAreaBack {
    position:absolute;
    top:200px;
    left:55px;
    width:560px;
    height:360px;
    opacity:0.5;
    border-radius: 100px;
    background-color: #000000;
    box-shadow: 0px 0px 10px 10px #000000;
}
/*Main Area End*/
.NewsArea {
    position:relative;
    margin:40px auto;
    text-align:center;
    vertical-align:middle;
}
.NewsIndex {
    display:none;
}
.OneNewsArea {
    position:relative;
    display:inline-block;
    width:280px;
    vertical-align:middle;
    text-align:left;
    font-size:13px;
    font-weight:bold;
}
.NewsDate {
    color:#AAAAAA;
}
.NewsNewLabel {
    margin-left:10px;
    color:#CC0000;
    visibility:hidden;
}
.NewsContent {
    display:block;
    padding:5px 5px 0px 5px;
    text-decoration:underline;
    cursor:pointer;
}
.PdfLabel {
    display:inline-block;
    text-decoration: none;
    padding:0px 5px;
    margin:0px 5px;
    color:#FFFFFF;
    font-size:10px;
    background-color:#CC0000;
    border-radius: 2px;
}
.NewsDivider {
    position:relative;
    display:inline-block;
    width:46px;
    height:71px;
    left:-5px;
}
.MagazineArea {
    position:relative;
}
.allTable {
    position:relative;
    width:990px;
    margin:0px auto;
    border-collapse:separate;
    border-spacing:24px;
}
.allTable tbody tr td {
    position:relative;
    text-align:center;
    vertical-align:top;
    padding:30px;
    width:33%;
}
.allNewOrNot {
    position:absolute;
    top:0px;
    left:0px;
    z-index:-1;
}
.allImageArea {
    cursor:pointer;
    -webkit-transition-duration:0.3s;
    transition-duration:0.3s;
}
.allImageArea:hover {
    opacity:0.8;
}
.allTable tbody tr td span, .allTable tbody tr td span img {
    display:block;
    width:100%;
}
.TdInfo {
    text-align:left;
    font-size:12px;
}
#AndroidAppLink, #IosAppLink {
    position:absolute;
    background-color:#FFFFFF;
    border-radius:5px;
    opacity:0;
    -webkit-transition-duration:0.3s;
    transition-duration:0.3s;
}
#AndroidAppLink:hover, #IosAppLink:hover {
    opacity:0.4;
}
#AndroidAppLink {
    top:198px;
    left:50px;
    height:60px;
    width:177px;
    cursor:pointer;
}
#IosAppLink {
    top:293px;
    left:49px;
    height:60px;
    width:209px;
    cursor:pointer;
}
.NewsMediaArea {
    position:relative;
}
/*Services Area Start*/
.ServiceArea {
    position:relative;
    background-color:#EAEAEA;
}
.ServiceContainer {
    text-align:center;
    padding-bottom:100px;
}
.ServiceUl {
    display:inline-block;
    margin:6px 0px 0px 0px;
    padding:0px;
    list-style-type:none;
}
.ServiceUl>li {
    position:relative;
    display:inline-block;
    cursor:pointer;
}
.servicelogo {
    position:absolute;
    top:0px;
    left:0px;
    z-index:888;
    -webkit-transition:top .3s;
    transition:top .3s;
}
.serviceinfo {
    position:relative;
    top:0px;
    left:0px;
    -webkit-transition:top .3s;
    transition:top .3s;
}
.ServiceClickArea {
    position:absolute;
    top:-75px;
    left:0px;
    width:150px;
    height:300px;
    opacity:0.5;
    z-index:900;
    visibility:hidden;
    transition-delay: .1ms;
}
.ServiceUl>li:hover .servicelogo {
    top:-75px;
}
.ServiceUl>li:hover .serviceinfo {
    top:75px;
}
.ServiceUl>li:hover .ServiceClickArea {
    visibility:visible;
}
.ServiceUl>li>img {
    box-shadow: 3px 3px 5px #000000;
    border-radius: 10px;
}
/*Services Area End*/
/*About Brangista Start*/
.AboutBrangistaContainer {
    text-align:center;
}
.AboutOneButton {
    position:relative;
    display:inline-block;
    margin:20px;
    cursor:pointer;
}
.AboutOneButton>img {
    z-index:-1;
}
.AboutOneButton>.AboutBg {
    position:absolute;
    height:144px;
    top:0px;
    left:0px;
    width:376px;
    background-color:#000000;
    opacity:0.3;
    -webkit-transition:opacity .3s;
    transition:opacity .3s;
    
}
.AboutOneButton>.AboutText {
    position:absolute;
    top:55px;
    left:85px;
    width:200px;
    padding:8px 0px;
    border:1px solid #FFFFFF;
    font-size:12px;
    font-weight:bold;
    text-shadow:1px 1px 3px #000000;
    letter-spacing:2px;
    color:#FFFFFF;
    -webkit-transition:.3s;
    transition:.3s;
}
.AboutOneButton:hover .AboutBg {
    opacity:0;
}
.AboutOneButton:hover .AboutText {
    color:#CC0000;
    border-color:#CC0000;
    background-color:rgba(255, 255, 255, 0.4)
}
/*About Brangista End*/
/*Footer Start*/
.FooterLinks {
    text-align:center;
    width:880px;
    font-size:12px;
    margin:35px auto;
    padding-top:45px;
    border-top:1px solid #BDBDBD;
}
.FooterLinks>dl {
    display:inline-block;
    vertical-align:top;
    margin:0px 30px;
    top:0px;
}
.FooterLinks>dl>dt {
    font-size:14px;
    margin:10px;
}
.FooterLinks>dl>dd {
    margin:2px;
    padding:0px;
    width:100%;
}
.FooterLinks>dl>dd>a {
    color:#353535;
    -webkit-transition: .2s;
    transition: .2s;
    padding:0px 5px;
}
.FooterLinks>dl>dd>a:hover {
    background-color:#BDBDBD;
}
.FooterLogoArea {
    text-align:right;
}
.FooterLogoArea>img {
    width:153px;
}
.FooterCopyright {
    position:relative;
    height:48px;
    width:100%;
    text-align:center;
    background-color:#CC0000;
    color:#FFFFFF;
    overflow:hidden;
    vertical-align:middle;
}
.FooterCopyright>#fcupsymbol {
    display:inline-block;    
    font-size:48px;
    cursor:pointer;
}
.FooterCopyright>#fctext {
    position:absolute;
    margin:15px 20px;
    right:0px;
    font-size:12px;
}
.FooterGroup {
    padding:15px;
    height:55px;
    text-align:right;
    font-size:12px;
}
.FooterGroup>ul {
    text-align:right;
    list-style-type:none;
}
.FooterGroup>ul>li {
    margin-left:5px;
    display:inline-block;
    vertical-align:middle;
}
.FooterGroup>ul>li>img {
    height:55px;
}
#nexyzlogo {
    cursor:pointer;
}
/*Footer End*/