a, a:hover, a:active, a:link, a:visited {
    text-decoration:none;
    color:black;
}

body {
    padding:0px;
    margin:0px;
}

.header {
    height:75px;
    padding:10px;
    position:relative;
}

.LogoAndLang {
    float:left;
    height:100%;
}

#logoimage {
    position:relative;
    float:left;
    width:auto;
    height:100%;
}

.LanguageChange {
    position:relative;
    float:left;
}

#changelanglogo {
    position:relative;
    float:left;
    height:20px;
    top:18px;
    margin:0px 4px 0px 4px;
}

.LanguageChange>span {
    position:relative;
    float:left;
    top:14px;
}

.LanguageChange>span>a {
    font-size:12px;
}

.en, .en:hover, .en:active, .en:link, .en:visited {
    color:#AA1212;
    text-decoration:underline;
}

#nav-icon {
    position:relative;
    float:left;
    height:100%;
    width:20px;
}
.navigator {
    position:relative;
    float:right;
    height:100%;
    width:auto;
}
.navs {
    position:relative;
    padding:0px;
    list-style-type:none;
}
.navs>li {
    position:relative;
    top:6px;
    display:inline-block;
    text-align:center;
    padding:0px 16px 0px 16px;
}

.navs>li>a {
    font-size:14px;
    font-weight:bold;
}
.navs>li>a>span {
    font-size:11px;
    display:block;
    color:#AA1212;
    font-weight: bold;
}